*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
}
.shopping__card{
    display: flex;
    justify-content: space-between;
    position: absolute;
    min-height: 500px;
    min-width: 800px;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%)
}
.photo__section{
    display: flex;
    min-width: 300px;
}
.smallphotos img{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    object-fit: contain;
    cursor: pointer;
}

.smallphotos img:hover, .numbers div:hover {
    border: 1px solid black;
}

.bigphoto img{
    height: 500px;
}
.description__section{
    min-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product__header , .current-size , .numbers{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product__header h2{
    font-size:1.2rem;
}
.kargoinfo{
    border: 1px solid black;
    border-radius: 2px;
    padding: 0.2rem;
    font-size: 0.8rem;
    width: 70px;
    text-align: center;
}
.product__rateprice{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.product__rateprice p img{
    height: 20px;
    margin-left: 3px;
    align-items: center;
}
.price{
    position: relative;
    display: flex;
    align-items:center;
}
.price p{
    margin-right: 5px;
}
.discount p{
    margin-left: 5px;
}
.discount::before{
    position:absolute;
    content:"";
    width: 1px;
    height: 100%;
    background:black;
}
.discounted-price{
    font-weight: bold;
    font-size: 1rem;
}
.satici p span{
    background:black;
    color: white;
    border-radius: 2px;
    padding:0.1rem 0.3rem;
    font-size:0.8rem;
}
a{
    color:black;
    font-size:0.8rem;
}
.productname,
.satici,
.size,
.numbers div,
.productinfo{
    padding:0.3rem;
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 2px;
}
.favori{
    display:flex;
    justify-content: center;
    text-align: center;
    border:1px solid rgba(0,0,0,0.3);
    margin-left:10px;
    padding:0.4rem;
    border-radius:5px;
}
.satici{
    display: flex;
    justify-content:space-between;
    align-items:center;
}
.numbers {
    padding:0.5rem;
    width: 250px;
    cursor: pointer;
}
.addbutton{
    display: flex;
    justify-content:space-between;
    align-items:center;
}
.addbutton button{
    flex: 1;
    padding: 1rem 5rem;
    background:black;
    color:white;
    font-size: 1rem;
    font-weight: bold;
    border:none;
    border-radius:5px;
    cursor: pointer;
    border:none;
    outline: none;
    transition: background 0.2s ease-in-out;
}
.addbutton:hover{
    background:gray;
}
.deliverydate{
    margin-top: 5px;
    display: flex;
    font-size: 0.6rem;
    font-weight: bold;
    justify-content: space-between;
    align-items:center;
    padding:0.1rem
}

